attack-simulations/Ransomwhere Attack/scripts/client_secret*.json
attack-simulations/Ransomwhere Attack/scripts/saved_credentials.json
attack-simulations/Ransomwhere Attack/scripts/key
attack-simulations/Ransomwhere Attack/scripts/secret.txt